body {
  background-color: rgb(234, 234, 234);
}

.main {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 32px;
  max-width: 1016px;
  height: 100%;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.characteristic-flex-between {
  display: flex;
  justify-content: space-between;
  max-width: 184px;
  width: 100%;
}

.text {
  font-weight: 400;
  font-size: 16px;
  color: #3d5278;
}

.text--muted {
  color: #90a3bf;
}

.text--sm {
  font-size: 14px;
  letter-spacing: -0.02em;
}

.text--xl {
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 25.2px;
}

.text--b {
  font-weight: 700;
  color: #1a202c;
  letter-spacing: 0.02em;
}

.text--bold {
  font-weight: 600;
}

.hero-section__img_block {
  width: 492px;
  height: 508px;
}

.hero_section__hero_image {
  height: 360px;
  border-radius: 10px;
}

.hero_section__gallery {
  height: 120px;
  padding-top: 20px;
}

.gallery__item--selected {
  border: 2px solid #3563e9;
  border-radius: 10px;
  padding: 6px;
}

.hero_section__description_block {
  background: white;

  justify-content: space-between;
  padding: 24px 24px 0px 24px;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 492px;
}

span {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.heart-img {
  width: 20px;
  height: 18px;
}

.reviews__rating {
  height: 16px;
  width: 110px;
}

span-reviewer {
  letter-spacing: 0.02em;
  padding-left: 10px;
}

.description_block__reviews {
  display: flex;
  justify-content: flex-start;
  padding-top: 12px;
}

.description_block__desc {
  line-height: 40px;
  text-align: justify;
  padding: 44px 0px 12px;
  margin: 0px;
}

.characteristics {
  height: 120px;
  padding-top: 24px;
}

.description_block__price {
  padding-top: 40px;
  letter-spacing: -0.02em;
}

span-price {
  font-size: 28px;
  font-weight: 700;
}

.price__rent-button {
  padding: 16px 32px;
  background: #3563e9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.all-reviews {
  height: 452px;
  background: white;
  padding: 24px;
  border-radius: 10px;
}

span-number {
  background: #3563e9;
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
}

.all-reviews__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1a202c;
  max-width: 142px;
}

.reviewer-info__photo-reviewer {
  height: 56px;
  width: 56px;
  padding-right: 10px;
}

.reviewer-info__review {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.flex-between__reviewer-info {
  display: flex;
  padding: 26px 0px 0px 6px;
}

.reviews__date {
  text-align: right;
}

.reviews {
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.reviews__feedback {
  height: 56px;
  padding-left: 82px;
  line-height: 200%;
}

.all-reviews__extra {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.extra__pointer {
  height: 6px;
  width: 12px;
  padding: 10px;
}

.recent-car-view {
  padding: 42px 50px 26px 28px;
}

.recent-car-view__item {
  color: #3563e9;
}

.car-info {
  background: white;
  border-radius: 10px;
  padding: 24px;
}

.car-info__car-img {
  height: 84px;
  width: 272px;
  padding: 52px 0px;
}

.car-info__price-n-button {
  padding-top: 36px;
  align-items: center;
}

.car-info__img-vector {
  height: 22px;
  width: 20px;
}

.car-info__mini-rent-button {
  padding: 10px 20px;
  background: #3563e9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 116px;
  height: 44px;
}

.car-info__car-img-rec {
  height: 112px;
  width: 264px;
  padding: 52px 4px;
}
